<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset => utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The online writing of Alex Payne" name="description" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Alex Payne - Atom" href="http://feeds.feedburner.com/al3x" />
    <link href="http://www.clickpass.com/openid_server" rel="openid.server" />
    <link href="http://clickpass.com/public/al3x" rel="openid.delegate" />
    <title>Alex Payne: XTITLE</title>
  </head>
  <body>
    XBODY
  </body>
</html>